<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>TeachersList</title>
</head>
<style> 
table{
    background-color: aquamarine;
    border-radius: 25px;
}
th, td {
    border-radius: 25px;
    padding: 13px;
    text-align: left;
}

div{
    background-color: #EF959D;
}
 
</style>
<body>
    
    <div>
    <h1> LIST OF TEACHERS  <a href="{% url 'add_teacher' %}"><button type="button"  class="btn btn-success">ADD TEACHER</button></a></h1>
    <table> 
        <h3>
           <tr>
            <th>Total Students 
           </th>
           </tr>
           <tr>
               <td>
                   {{ total }}
               </td>
           </tr>
           </h3>
       </table>
       <br>       
    <table>
        <tr>
            <th>ID</th>
            <th>EMP_ID</th>
            <th>Firstname</th>
            <th>Middlename</th>
            <th>Lastname</th>
            <th>City</th>
            <th>Country</th>
            <th>Street</th>
            <th>Phone Number</th>
            <th>Subject</th>
            <th>Department</th>
            <th>Salary</th>
            <th>UPDATE</th>
            <th>DELETE</th>
          </tr>
{% for i in list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{i.emp_id}}</td>
      <td>{{i.first_name}}</td>
      <td>{{i.middle_name}}</td>
      <td>{{i.last_name}}</td>
      <td>{{i.city}}</td>
      <td>{{i.country}}</td>
      <td>{{i.street}}</td>
      <td>{{i.phone_number}}</td>
      <td>{{i.subject}}</td>
      <td>{{i.department}}</td>
      <td>{{i.salary}}</td>
      <td> <a href="{% url 'updatet' i.id %}"><button type="button" class="btn btn-success">UPDATE</button></a></td>
      <td> <a href="{% url 'deletet' i.id %}"><button type="button" class="btn btn-danger">DELETE</button><a></td>

    </tr>
{% endfor%}
</table>
</div>
</body>
</html>