<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>StudentsList</title>
</head>
<style>
   table{
    border-radius: 25px;
    background-color: #68feff;
}
th, td {
    border-radius: 25px;
  padding: 15px;
  text-align: left;
}
div{
    background-color: #eea29a;
}
</style>
<body>
    <div>
 <h1> LIST OF STUDENTS  <a href="{% url 'add_student' %}"><button type="button"  class="btn btn-success">ADD STUDENT</button></a></h1>
<table> 
 <h3>
    <tr>
     <th>Total Students 
    </th>
    </tr>
    <tr>
        <td>
            {{ total }}
        </td>
    </tr>
    </h3>
</table>
<br>
    <table>
        <tr>
            <th> ID</th>
            <th>STD_ID</th>
            <th>Firstname</th>
            <th>Middlename</th>
            <th>Lastname</th>
            <th>City</th>
            <th>Country</th>
            <th>Phone Number</th>
            <th>Faculty</th>
            <th>Marks Obtained</th>
            <!-- <th>Percentage</th> -->
            <th>Evaluation</th>
            <th>UPDATE</th> 
            <th>DELETE</th>
          </tr>
          
{% for i in list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{i.std_id}}</td>
      <td>{{i.first_name}}</td>
      <td>{{i.middle_name}}</td>
      <td>{{i.last_name}}</td>
      <td>{{i.city}}</td>
      <td>{{i.country}}</td>
      <td>{{i.phone_number}}</td>
      <td>{{i.faculty}}</td>
      <td>{{i.marks_obtained}}</td>
      <!-- <td>{{i.percentage}}</td> -->
      <td>{{i.evaluation}}</td>
      <td> <a href="{% url 'updates' i.id%}"><button type="button"  class="btn btn-success">UPDATE</button></a></td>
      <td> <a href="{% url 'deletes' i.id%}"><button type="button" class="btn btn-danger">DELETE</button><a></td>
    </tr>
{% endfor%}
</table>
</div>
</body>
</html>